@media (max-width: 1000px) {
  /*Bagian Isi*/
  .features{
	flex-wrap:wrap;
  }
  .features li{
	width:50%;
	margin: 10px auto;
  }
  
  /*Bagian Footer*/
  .footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}

@media (max-width: 670px) {
  
  /*Bagian Header*/
  .header-right a:not(:first-child) {display: none;}
  .header-right a.icon {
    float: right;
    display: block;
	margin-right:10px;
  }
  
  .header-right.responsive {
	position: relative;
	float: none;
  }
  
  .header-right.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .header-right.responsive a{
    float: none;
    display: block;
    text-align: left;
  }
  
  /*Bagian Isi*/
  .features{
	flex-direction:column;  
  }
  .features li{
	margin:10px 0;
  }
  .features img{
	width:100%;
	height:auto;
  }
}
